<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.shop.lottery.dao2.DlFutureMatchMapper">
  <resultMap id="BaseResultMap" type="com.dl.shop.lottery.model.DlFutureMatch">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="match_id" jdbcType="INTEGER" property="matchId" />
    <result column="match_date" jdbcType="VARCHAR" property="matchDate" />
    <result column="match_time" jdbcType="VARCHAR" property="matchTime" />
    <result column="game_week" jdbcType="VARCHAR" property="gameWeek" />
    <result column="sporttery_matchid" jdbcType="INTEGER" property="sportteryMatchid" />
    <result column="league_name" jdbcType="VARCHAR" property="leagueName" />
    <result column="league_abbr" jdbcType="VARCHAR" property="leagueAbbr" />
    <result column="league_id" jdbcType="INTEGER" property="leagueId" />
    <result column="home_team_name" jdbcType="VARCHAR" property="homeTeamName" />
    <result column="home_team_abbr" jdbcType="VARCHAR" property="homeTeamAbbr" />
    <result column="home_team_id" jdbcType="INTEGER" property="homeTeamId" />
    <result column="visitor_team_name" jdbcType="VARCHAR" property="visitorTeamName" />
    <result column="visitor_team_abbr" jdbcType="VARCHAR" property="visitorTeamAbbr" />
    <result column="visitor_team_id" jdbcType="INTEGER" property="visitorTeamId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="league_from" jdbcType="BIT" property="leagueFrom" />
  </resultMap>
  
  <select id="getList" resultMap="BaseResultMap">
  	select * from dl_future_match 
  	where (home_team_id=#{teamId} or visitor_team_id=#{teamId}) and match_date &gt; CURRENT_DATE 
  	order by match_date, match_time limit 3
  </select>
</mapper>