<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.shop.lottery.dao2.DlLeagueTeamMapper">
  <resultMap id="BaseResultMap" type="com.dl.shop.lottery.model.DlLeagueTeam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="team_id" jdbcType="INTEGER" property="teamId" />
    <result column="sporttery_teamid" jdbcType="INTEGER" property="sportteryTeamid" />
    <result column="team_name" jdbcType="VARCHAR" property="teamName" />
    <result column="team_addr" jdbcType="VARCHAR" property="teamAddr" />
    <result column="team_type" jdbcType="VARCHAR" property="teamType" />
    <result column="team_pic" jdbcType="VARCHAR" property="teamPic" />
    <result column="league_from" jdbcType="TINYINT" property="leagueFrom" />
  </resultMap>
  
  <select id="getBySportteryTeamid" resultMap="BaseResultMap">
  	select * from dl_league_team where sporttery_teamid=#{sportteryTeamid}
  </select>
  <select id="getByTeamId" resultMap="BaseResultMap">
  	select * from dl_league_team where team_id=#{teamId}
  </select>
  
  <select id="queryLeagueTeamByTeamIds" resultMap="BaseResultMap">
  	select * from dl_league_team where sporttery_teamid in
 	<foreach collection="teamIdList" item="teamId" index="index" open="(" close=")" separator=",">
 		#{teamId}
 	</foreach>
  </select>
  
  <select id="queryTeamId" resultType="java.lang.Integer">
  	select team_id from dl_league_team where sporttery_teamid=#{sportteryTeamid}
  </select>
  
</mapper>