<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.shop.lottery.dao.DlOpLogMapper">

  <resultMap id="BaseResultMap" type="com.dl.shop.lottery.model.DlOpLog">
    <id column="log_id" jdbcType="INTEGER" property="logId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="op_type" jdbcType="INTEGER" property="opType" />
    <result column="add_time" jdbcType="INTEGER" property="addTime" />
    <result column="money_paid" jdbcType="DECIMAL" property="moneyPaid" />
    <result column="lottery_classify_id" jdbcType="INTEGER" property="lotteryClassifyId" />
    <result column="pic" jdbcType="INTEGER" property="pic" />
    <result column="fail_msg" jdbcType="INTEGER" property="failMsg" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="bonus" jdbcType="DECIMAL" property="bonus" />
  </resultMap>
  
  <select id="queryLogByTime"  resultMap="BaseResultMap">
  	select op.*,o.bonus from dl_log_operation op left join dl_order o on op.order_sn = o.order_sn where op.type = 2 and op.phone = #{phone}
  	and  op.add_time &gt; #{startTime} and op.add_time &lt; #{endTime}
  </select>
  
  <select id="queryLogByOrderSn" resultMap="BaseResultMap">
  	select * from dl_log_operation where order_sn = #{orderSn} order by  add_time desc limit 1
  </select>
</mapper>