<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.shop.lottery.dao2.DlScore500WMapper">
  <resultMap id="BaseResultMap" type="com.dl.shop.lottery.model.DlScore500W">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="l_id" jdbcType="INTEGER" property="lId" />
    <result column="ty" jdbcType="VARCHAR" property="ty" />
    <result column="team_name" jdbcType="VARCHAR" property="teamName" />
    <result column="match_num" jdbcType="INTEGER" property="matchNum" />
    <result column="match_h" jdbcType="INTEGER" property="matchH" />
    <result column="match_d" jdbcType="INTEGER" property="matchD" />
    <result column="match_a" jdbcType="INTEGER" property="matchA" />
    <result column="ball_in" jdbcType="INTEGER" property="ballIn" />
    <result column="ball_lose" jdbcType="INTEGER" property="ballLose" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="rank" jdbcType="INTEGER" property="rank" />
    <result column="team_id" jdbcType="INTEGER" property="teamId" />
    <result column="season_id" jdbcType="INTEGER" property="seasonId" />
  </resultMap>
  
  <select id="findByLeagueIdAndSeasonId" resultMap="BaseResultMap">
	SELECT
		* 
	FROM
		dl_score_500w 
	WHERE
		season_id = #{seasonId}
	AND l_id = ( SELECT l_id FROM dl_league_500w WHERE league_id = #{leagueId} )
	ORDER BY rank ASC
  </select>
  
</mapper>