<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.shop.lottery.dao2.DlSeason500wMapper">
  <resultMap id="BaseResultMap" type="com.dl.shop.lottery.model.DlSeason500w">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="season_id" jdbcType="INTEGER" property="seasonId" />
    <result column="league_id" jdbcType="INTEGER" property="leagueId" />
    <result column="match_season" jdbcType="VARCHAR" property="matchSeason" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
    <sql id="allFields">
	  	season_id,
	  	league_id,
	  	match_season,
	  	create_time,
	  	update_time
  </sql>
  
   <select id="findAllSeason" resultMap="BaseResultMap">
	SELECT 
		<include refid = "allFields" ></include> 
	FROM
		dl_season_500w
   </select>
  
   <select id="findSeasonByLeagueId" resultMap="BaseResultMap">
		SELECT 
			<include refid = "allFields" ></include> 
		FROM
			dl_season_500w
		WHERE 
			league_id = #{leagueId}
		ORDER BY 
			season_id DESC
   </select>
   
   <select id="getlastSeasonByLeagueId" resultType="Integer">
		SELECT
			season_id 
		FROM
			dl_season_500w 
		WHERE
			league_id = #{leagueId}
		ORDER BY
			season_id DESC
		LIMIT 1
   </select>
   
   <select id="getSeasonBy5LeagueId" resultMap="BaseResultMap">
		SELECT
			b.league_id,
			b.season_id,
			b.match_season 
		FROM
			(
		SELECT
			league_id,
			season_id,
			match_season 
		FROM
			dl_season_500w 
		WHERE
			league_id IN 
		  <foreach item="item" index="index" collection="list"   open="(" separator="," close=")">  
          		#{item}   
      	</foreach>
		ORDER BY
			league_id ASC,
			season_id DESC 
			) b 
		GROUP BY
			b.league_id;
   </select>
</mapper>