<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.shop.lottery.dao2.DlTeamFuture500WMapper">
  <resultMap id="BaseResultMap" type="com.dl.shop.lottery.model.DlTeamFuture500W">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="match_time" jdbcType="TIMESTAMP" property="matchTime" />
    <result column="league_abbr" jdbcType="VARCHAR" property="leagueAbbr" />
    <result column="home_abbr" jdbcType="VARCHAR" property="homeAbbr" />
    <result column="visiting_abbr" jdbcType="VARCHAR" property="visitingAbbr" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="team_id" jdbcType="INTEGER" property="teamId" />
  </resultMap>
  
  <sql id="allFields">
  	id,match_time,league_abbr,home_abbr,visiting_abbr,update_time,create_time,team_id
  </sql>
  <select id="findByTeamId" resultMap="BaseResultMap">
		SELECT
			<include refid="allFields"></include>
		FROM
			dl_team_future_500w 
		WHERE
			team_id = #{teamId}
		order by match_time
  </select>
</mapper>