<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.shop.lottery.dao.LotteryMatchMapper">
  <resultMap id="BaseResultMap" type="com.dl.shop.lottery.model.LotteryMatch">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="match_id" jdbcType="INTEGER" property="matchId" />
    <result column="league_id" jdbcType="INTEGER" property="leagueId" />
    <result column="league_name" jdbcType="VARCHAR" property="leagueName" />
    <result column="league_addr" jdbcType="VARCHAR" property="leagueAddr" />
    <result column="changci_id" jdbcType="INTEGER" property="changciId" />
    <result column="changci" jdbcType="VARCHAR" property="changci" />
    <result column="home_team_id" jdbcType="INTEGER" property="homeTeamId" />
    <result column="home_team_name" jdbcType="VARCHAR" property="homeTeamName" />
    <result column="home_team_abbr" jdbcType="VARCHAR" property="homeTeamAbbr" />
    <result column="home_team_rank" jdbcType="VARCHAR" property="homeTeamRank" />
    <result column="visiting_team_id" jdbcType="INTEGER" property="visitingTeamId" />
    <result column="visiting_team_name" jdbcType="VARCHAR" property="visitingTeamName" />
    <result column="visiting_team_abbr" jdbcType="VARCHAR" property="visitingTeamAbbr" />
    <result column="visiting_team_rank" jdbcType="VARCHAR" property="visitingTeamRank" />
    <result column="match_time" jdbcType="VARCHAR" property="matchTime" />
    <result column="show_time" jdbcType="VARCHAR" property="showTime" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="is_show" jdbcType="INTEGER" property="isShow" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
  </resultMap>
  
  <insert id="insertMatch" useGeneratedKeys="true" keyProperty="matchId">
    insert into dl_match(league_id,league_name,league_addr,changci_id,changci,home_team_id,home_team_name,home_team_abbr,
             home_team_rank,visiting_team_id,visiting_team_name,visiting_team_abbr,visiting_team_rank,match_time,show_time,create_time,
             is_show,is_del)
    values(#{leagueId},#{leagueName},#{leagueAddr},#{changciId},#{changci},#{homeTeamId},#{homeTeamName},#{homeTeamAbbr},#{homeTeamRank},
             #{visitingTeamId},#{visitingTeamName},#{visitingTeamAbbr},#{visitingTeamRank},#{matchTime},#{showTime},#{createTime},
             #{isShow},#{isDel})
  </insert>
  
</mapper>