<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.shop.lottery.dao.LotteryMatchPlayMapper">
  <resultMap id="BaseResultMap" type="com.dl.shop.lottery.model.LotteryMatchPlay">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="match_play_id" jdbcType="INTEGER" property="matchPlayId" />
    <result column="match_id" jdbcType="INTEGER" property="matchId" />
    <result column="play_content" jdbcType="VARCHAR" property="playContent" />
    <result column="play_type" jdbcType="INTEGER" property="playType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_hot" jdbcType="INTEGER" property="isHot" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="update_time" jdbcType="INTEGER" property="updateTime" />
  </resultMap>
</mapper>