<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.shop.lottery.dao.LotteryPrintMapper">
  <resultMap id="BaseResultMap" type="com.dl.shop.lottery.model.LotteryPrint">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="print_lottery_id" jdbcType="INTEGER" property="printLotteryId" />
    <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
    <result column="ticket_id" jdbcType="VARCHAR" property="ticketId" />
    <result column="accept_time" jdbcType="INTEGER" property="acceptTime" />
    <result column="merchant" jdbcType="VARCHAR" property="merchant" />
    <result column="game" jdbcType="VARCHAR" property="game" />
    <result column="issue" jdbcType="VARCHAR" property="issue" />
    <result column="play_type" jdbcType="VARCHAR" property="playType" />
    <result column="bet_type" jdbcType="VARCHAR" property="betType" />
    <result column="times" jdbcType="INTEGER" property="times" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="stakes" jdbcType="VARCHAR" property="stakes" />
    <result column="error_code" jdbcType="INTEGER" property="errorCode" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="platform_id" jdbcType="VARCHAR" property="platformId" />
    <result column="print_status" jdbcType="INTEGER" property="printStatus" />
    <result column="print_sp" jdbcType="VARCHAR" property="printSp" />
    <result column="print_no" jdbcType="VARCHAR" property="printNo" />
    <result column="print_time" jdbcType="TIMESTAMP" property="printTime" />
  </resultMap>
  
  <update id="updateByTicketId">
    update dl_print_lottery set
           status = #{status},
           platform_id = #{platformId},
           print_status = #{printStatus},
           print_sp = #{printSp},
           print_no = #{printNo},
           print_time = #{printTime}
    where 
           ticket_id = #{ticketId}
  </update>
  
  <update id="updateBatchByTicketId" parameterType="com.dl.shop.lottery.model.LotteryPrint">
    <foreach collection="list" item="item" index="index" separator=";">  
    	update dl_print_lottery set 
    	   status = #{item.status}, error_code = #{item.errorCode} 
    	where 
    	   ticket_id = #{item.ticketId}
    </foreach>  
  </update>
  
  <select id="getPrintLotteryList" resultType="com.dl.shop.lottery.model.LotteryPrint">
    select 
        ticket_id ticketId,
        merchant,
        game,
        issue,
        play_type playType,
        bet_type betType,
        times,
        money,
        stakes
    from dl_print_lottery
    where status = 0
    order by accept_time asc
    limit 50
  </select>
  
  
  <select id="selectPrintLotteryBySelective" parameterType="com.dl.shop.lottery.model.LotteryPrint" resultMap="BaseResultMap">
    select * 
    from dl_print_lottery
    <where>
	  	<if test="orderSn != null">
	        AND order_sn = #{orderSn}
	    </if>
	    <if test="ticketId != null">
	        AND ticket_id = #{ticketId}
	    </if>
	    <if test="issue != null">
	        AND issue = #{issue}
	    </if>
	    <if test="playType != null">
	        AND play_type = #{playType}
	    </if>
	    <if test="status != null">
	        AND status = #{status}
	    </if>
    </where>
  </select>
  
  <select id="selectEqualsIssuePrint" resultType="com.dl.shop.lottery.model.LotteryPrint">
    select * 
    from dl_print_lottery
    where issue = #{issue}
  </select>
  
  <select id="selectTodayPrints" resultType="com.dl.shop.lottery.model.LotteryPrint">
    select * from dl_print_lottery
    where  DATEDIFF(from_unixtime(accept_time,'%Y-%m-%d'),NOW()) = 0 and status = 1
  </select>
  
  <select id="selectLessThanIssuePrint"  resultMap="BaseResultMap">
    select * 
    from dl_print_lottery
    where issue &gt;= #{issue}
  </select>
  
  <select id="getRealRewardMoney" resultType="com.dl.lottery.dto.DlOrderDataDTO">
    select 
       order_sn orderSn,
       sum(real_reward_money) realRewardMoney
    from dl_print_lottery 
	where 
	   issue = #{issue}
	group by order_sn
  </select>
</mapper>