<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.shop.lottery.dao.LotteryMatchMapper">
  <resultMap id="BaseResultMap" type="com.dl.shop.lottery.model.LotteryMatch">
    <id column="match_id" jdbcType="INTEGER" property="matchId" />
    <result column="league_id" jdbcType="INTEGER" property="leagueId" />
    <result column="league_name" jdbcType="VARCHAR" property="leagueName" />
    <result column="league_addr" jdbcType="VARCHAR" property="leagueAddr" />
    <result column="changci_id" jdbcType="INTEGER" property="changciId" />
    <result column="changci" jdbcType="VARCHAR" property="changci" />
    <result column="home_team_id" jdbcType="INTEGER" property="homeTeamId" />
    <result column="home_team_name" jdbcType="VARCHAR" property="homeTeamName" />
    <result column="home_team_abbr" jdbcType="VARCHAR" property="homeTeamAbbr" />
    <result column="home_team_rank" jdbcType="VARCHAR" property="homeTeamRank" />
    <result column="visiting_team_id" jdbcType="INTEGER" property="visitingTeamId" />
    <result column="visiting_team_name" jdbcType="VARCHAR" property="visitingTeamName" />
    <result column="visiting_team_abbr" jdbcType="VARCHAR" property="visitingTeamAbbr" />
    <result column="visiting_team_rank" jdbcType="VARCHAR" property="visitingTeamRank" />
    <result column="match_time" jdbcType="TIMESTAMP" property="matchTime" />
    <result column="show_time" jdbcType="TIMESTAMP" property="showTime" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="is_show" jdbcType="INTEGER" property="isShow" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="match_sn" jdbcType="VARCHAR" property="matchSn" />
    <result column="first_half" jdbcType="VARCHAR" property="firstHalf" />
    <result column="whole" jdbcType="VARCHAR" property="whole" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="is_hot" jdbcType="INTEGER" property="isHot" />
  </resultMap>
  
  <sql id="matchFields">
  	m.match_id, m.league_id , m.league_name, m.league_addr, m.changci_id, m.changci, m.is_hot,
  	m.home_team_id, m.home_team_name, m.home_team_abbr, m.home_team_rank, m.visiting_team_id, 
  	m.visiting_team_name, m.visiting_team_abbr, m.visiting_team_rank, m.match_time, m.match_sn
  </sql>
  <sql id="tableName">
  	dl_match m
  </sql>
  <insert id="insertMatch" useGeneratedKeys="true" keyProperty="matchId">
    insert into dl_match(league_id,league_name,league_addr,changci_id,changci,home_team_id,home_team_name,home_team_abbr,
             home_team_rank,visiting_team_id,visiting_team_name,visiting_team_abbr,visiting_team_rank,match_time,show_time,create_time,
             is_show,is_del,match_sn)
    values(#{leagueId},#{leagueName},#{leagueAddr},#{changciId},#{changci},#{homeTeamId},#{homeTeamName},#{homeTeamAbbr},#{homeTeamRank},
             #{visitingTeamId},#{visitingTeamName},#{visitingTeamAbbr},#{visitingTeamRank},#{matchTime},#{showTime},#{createTime},
             #{isShow},#{isDel},#{matchSn})
  </insert>
  
  <select id="getMatchList" resultMap="BaseResultMap">
	select
		match_id,league_id,league_name,league_addr,changci_id,changci,home_team_id,home_team_name,home_team_abbr,
		home_team_rank,visiting_team_id,visiting_team_name,visiting_team_abbr,visiting_team_rank,match_time,show_time,create_time,
		is_show,is_del,match_sn,is_hot
	from
	dl_match 
	where DATEDIFF(show_time,NOW()) &gt;= 0 and is_del = 0 and is_show=1 and TIMESTAMPDIFF(MINUTE, match_time, NOW()) &lt; 10
  	 <if test="leagueIds!=null and leagueIds != ''">
  	 	and league_id in
  	 	<foreach collection="leagueIds.split(',')" item="leagueId" open="(" close=")" separator=",">
  	 		#{leagueId}
  	 	</foreach>
  	 </if>
  	 order by match_time
  </select>

  <select id="getMatchListToday" resultMap="BaseResultMap">
  	select * from dl_match where DATEDIFF(match_time,NOW())= 0 and is_del = 0 and is_show=1 and status = 1
  </select>
  
  <select id="getMatchListUnknowScoreToday" resultMap="BaseResultMap">
  	select * from dl_match where status = '0' and TIMESTAMPDIFF(MINUTE, match_time, NOW()) &gt;= 90 and is_del = 0 and is_show=1 
  </select>

  
  <select id="queryMatchByQueryCondition" parameterType ="java.lang.String" resultMap="BaseResultMap">
  	select * from dl_match
  	 where is_del = 0 
     and is_show = 1
  	 and str_to_date(match_time,'%Y-%m-%d') = #{dateStr} 
  	 <if test="leagueIdArr !=null and leagueIdArr.length != 0">
  	 	and league_id in
  	 	<foreach collection="leagueIdArr" item="leagueId" index="index" open="(" close=")" separator=",">
  	 		#{leagueId}
  	 	</foreach>
  	 </if>
  	 <if test="issueArr !=null and issueArr.length != 0">
  	 	and match_sn in
  	 	<foreach collection="issueArr" item="issue" index="index" open="(" close=")" separator=",">
  	 		#{issue}
  	 	</foreach>
  	 </if>
  	 <if test="matchFinish != null and matchFinish != ''">
  	 	and  status = '1'
  	 </if>
  	 order by match_time
  </select>

  <update id="updateMatchBatch" parameterType="java.util.List">
        update dl_match
            <trim prefix="set" suffixOverrides=",">
	             <trim prefix="first_half =case" suffix="end,">
	                 <foreach collection="list" item="i" index="index">
	                         <if test="i.firstHalf!=null">
	                          when match_id=#{i.matchId} then #{i.firstHalf}
	                         </if>
	                 </foreach>
	              </trim>
	              <trim prefix="whole =case" suffix="end,">
	                 <foreach collection="list" item="i" index="index">
	                         <if test="i.whole!=null">
	                          when match_id=#{i.matchId} then #{i.whole}
	                         </if>
	                 </foreach>
	              </trim>
	              <trim prefix="status =case" suffix="end,">
	                 <foreach collection="list" item="i" index="index">
	                         <if test="i.status!=null">
	                          when match_id=#{i.matchId} then #{i.status}
	                         </if>
	                 </foreach>
	              </trim>
             </trim>
              where
            <foreach collection="list" separator="or" item="i" index="index" >
             match_id=#{i.matchId}
            </foreach>
            
	</update>
	
  <update id="updateMatchResult" >
        update dl_match
        set firstHalf = #{firstHalf}, whole=#{whole}, status=#{status}
        where match_id=#{matchId}
	</update>
	
	
	<select id="getByChangciId" resultMap="BaseResultMap">
		select * from dl_match where changci_id=#{changciId}
	</select>
	<select id="getByMatchId" resultMap="BaseResultMap">
		select * from dl_match where match_id=#{matchId}
	</select>
	<select id="getByTeamId" resultMap="BaseResultMap">
		select * 
		from dl_match 
		where 1=1
		 <if test="homeTeamId !=null and homeTeamId != ''">
		 and (home_team_id = #{homeTeamId} or visiting_team_id=#{homeTeamId})
		</if>
		<if test="visitingTeamId !=null and visitingTeamId != ''">
		 and (visiting_team_id=#{visitingTeamId} or home_team_id = #{homeTeamId})
		</if>
		order by match_time desc limit ${num}
	</select>
	
	<select id="getByTeamIdForhh" resultMap="BaseResultMap">
		select * 
		from dl_match 
		where 
		 home_team_id = #{teamId}
		order by match_time desc limit ${num}
	</select>
	
	<select id="getByTeamIdForvv" resultMap="BaseResultMap">
		select * 
		from dl_match 
		where 
		 visiting_team_id = #{teamId}
		order by match_time desc limit ${num}
	</select>
</mapper>