<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.shop.lottery.dao.LotteryMatchPlayMapper">
  <resultMap id="BaseResultMap" type="com.dl.shop.lottery.model.LotteryMatchPlay">
    <id column="match_play_id" jdbcType="INTEGER" property="matchPlayId" />
    <result column="match_id" jdbcType="INTEGER" property="matchId" />
    <result column="play_content" jdbcType="VARCHAR" property="playContent" />
    <result column="play_type" jdbcType="INTEGER" property="playType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="update_time" jdbcType="INTEGER" property="updateTime" />
  </resultMap>
  
  <select id="matchPlayListByMatchIds" resultMap="BaseResultMap">
  	select match_play_id,match_id,play_content,play_type,status,is_del,create_time,update_time
  	from dl_match_play
  	where is_del = 0 and status=0 
  	<if test="matchIds!=null and matchIds != ''">
  	 	and match_id in
  	 	<foreach collection="matchIds" item="matchId" open="(" close=")" separator=",">
  	 		#{matchId}
  	 	</foreach>
  	 </if> 
  	 <if test="playType!=null and playType != ''">
  	 	and play_type = ${playType}
  	 </if> 
  </select>
  
  <update id="updatePlayContent">
  	update dl_match_play
  	set play_content = #{playContent},update_time=#{updateTime}
  	where match_id=#{matchId} and play_type=#{playType}
  </update>
</mapper>